@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Circular Std";
  src: url("./assets/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Circular Std", sans-serif;
}
